<%- include('./partials/head.ejs') %>



   <section>
        <article>
            <img src="<%= results[0].coverimages[1] %>" alt="" />
        </article>
    </section>

    <section>
        <article>
            <h1>Info:</h1>
        </article>
    </section>
<%- include('./partials/foot.ejs') %>