:root{
    --primary: black;
    --secondary: red;

}

body{
    font-family: 'Avenir',arial,sans-serif;
    /* margin-bottom: 0px; */
    margin: 0;
    
}
/* navigatie */

nav ul{
    list-style-type: none;
    display: block;
    padding-bottom: 100px;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    line-height: 26px;
    text-transform: lowercase;
    text-decoration: none;
}

li{
    display: inline;
    padding: 30px;
    

}

#dev a{
    text-decoration: none;
    color: #000000;
    
    
}
#dev a:hover{
color:red;
}

@media (max-width: 1100px){
    li{
        padding: 10px;
    }
}
@media (max-width: 1100px){
    #dev ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
          "nav1 nav2"
          "nav3 nav4"
          "nav5 nav6";
        padding: 5px;
        gap: 5px;
    }
}



.nav1{
    grid-area: nav1;
}
.nav2{
    grid-area: nav2;
}
.nav3{
    grid-area: nav3;
}
.nav4{
    grid-area: nav4;
}
.nav5{
    grid-area: nav5;
}
.nav6{
    grid-area: nav6;
}



/* logo */
.oba{
    margin-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-left: 10%;
    font-size: 80px;
    font-family: avenir var(--primary);
    color: var(--secondary);
}

.boekenOverzicht{
    display: flex;
    width: 100%;
    overflow: scroll;
}

.boek{
    margin: 20px;

}

.bookstyle{
    margin: 10px;
}


/* Search */

.search{
    display: flex;
    justify-content: center;
}






/* Footer */

footer{
    height: 500px;
    background-color: var(--primary);
    padding-bottom: 0px;
}

.Hfooter{
    justify-content: center;
    text-align: center;
    color: white;
    font-size: large;
    padding-top: 10px;
  

   
}

.Hfooter p{
   padding-left: 10%;
   font-size: 30px;
}
@media (min-width: 570px){
    .Hfooter{
        display: flex;
    }
}
@media (max-width: 570px){
    footer{
        height: 1400px;
    }
}

.Hfooter a{
    display: grid;
    color: white;

}

.Hfooter a:hover{
    color: var(--secondary);
}

.header-link{
    float: right;
}


.aFooter{
    padding-top: 20px;
    margin-bottom: 30px;
}

@media (min-width: 850px){
    .linker-rij{
        display: flex;
    }
}


.active{
    color: var(--secondary) !important;
}


/* DETAIL PAGE STYLING */


.cover-image{
    display: flex;
    justify-content: center;
}

.title{
    margin-left: 45px;
    margin-bottom: 0px;
}



.info li{
    display: flex;
    padding: 2px;
}


.summary{
 display: flex;
 margin-left: 20%;


}

.span{
    font-weight: bold;
    margin-right: 5px;
}

.span2{
    font-weight: bold;
    margin-right: 5px;
}


.info li{
    /* display: flex;
    flex-direction: column; */
    padding: 2px;
    width: 500px;
}

.summ{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.cover{
    margin-bottom: 50px;
}